<!-- <div class="fixed-bottom  osahan-menu-fotter bg-white px-3 py-2 text-center">
    <div class="row">
        <div class="col" [routerLinkActive]="'active'">
            <a [routerLink]="'user'" class="text-dark small font-weight-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-user"></i></p>
                user
            </a>
        </div>
        <div class="col" [routerLinkActive]="'active'">
            <a [routerLink]="'list-qr'" class="text-dark small font-weight-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-list"></i></p>
                Batch List
            </a>
        </div>
        <div class="col bg-white rounded-circle mt-n4 px-3 py-2">
            <div class="bg-danger rounded-circle mt-n0 shadow">
                <a data-dismiss="modal" class="text-white small font-weight-bold text-decoration-none"
                    [routerLink]="'/generate-qr'" [routerLinkActive]="'active'">
                    <i class="feather-printer"></i>
                </a>
            </div>
        </div>
        <div class="col">
            <a [routerLink]="'/scan-qr'" [routerLinkActive]="'active'"
                class="text-dark small font-weight-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-camera"></i></p>
                Scan
            </a>
        </div>
        <div class="col">
            <a [routerLink]="'profile'" [routerLinkActive]="'active'"
                class="text-dark small font-weight-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-user"></i></p>
                Profile
            </a>
        </div>
    </div>
</div> -->