<div class="bg-primary d-flex align-items-center justify-content-center vh-100 index-page">
    <div class="text-center"><a href="login.html"><img src="../../../../assets/img/logo.png" alt=""></a><br>
    <div class="spinner"></div></div>
    </div>
    <div class="fixed-bottom d-flex align-items-center justify-content-center">
    <a class="btn btn-block d-flex align-items-center btn-lg btn-warning" [routerLink]="['/home']" [routerLinkActive]="'active'">
    Get Started <i class="feather-arrow-right ml-auto"></i>
    </a>
    </div>
    
    <script src="../../../../assets/vendor/jquery/jquery.min.js" type="46e504f814bcd2dece6c4422-text/javascript"></script>
    <script src="../../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js" type="46e504f814bcd2dece6c4422-text/javascript"></script>
    
    <!-- <script type="46e504f814bcd2dece6c4422-text/javascript" src="vendor/slick/slick.min.js"></script> -->
    <script type="46e504f814bcd2dece6c4422-text/javascript" src="../../../../assets/vendor/slick/slick.min.js"></script>
    
    <!-- <script type="46e504f814bcd2dece6c4422-text/javascript" src="vendor/sidebar/hc-offcanvas-nav.js"></script> -->
    <script type="46e504f814bcd2dece6c4422-text/javascript" src="../../../../assets/vendor/sidebar/hc-offcanvas-nav.js"></script>
    
    <script src="../../../../assets/js/osahan.js" type="46e504f814bcd2dece6c4422-text/javascript"></script>
    <!-- <script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="46e504f814bcd2dece6c4422-|49" defer=""> -->
    <script src="../../../../assets/js/rocket-loader.min.js" data-cf-settings="46e504f814bcd2dece6c4422-|49" defer="">
    </script>
    <!-- <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"723f984e88bc8600","version":"2022.6.0","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}' crossorigin="anonymous"> -->
    <script defer src="../../../../assets/js/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"723f984e88bc8600","version":"2022.6.0","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}' crossorigin="anonymous">
    </script>