<div class="osahan-forgot">
    <div class="bg-light border-bottom p-3">
        <a class="text-primary" [routerLink]="['/login']" [routerLinkActive]="'active'"><i class="feather-chevron-left"></i> Back</a>
    </div>
    <div class="p-4">
        <h2>Reset password</h2>
        <p>Enter your Email/Mobile Number below and we'll send you an email in which your <b>One Time Paasword(OTP)</b> will be. for Reset your password
        </p>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="mt-5 mb-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Email/Mobile</label>
                <input type="text" class="form-control" formControlName="email" id="exampleInputEmail1" placeholder="Enter your email/mobile number" aria-describedby="emailHelp">
            <span class="text-danger" *ngIf="(f.email.touched || submitted) && f.email.errors?.required">Required Input</span>
            </div>
            <button class="btn btn-primary btn-lg btn-block">Generate OTP</button>
        </form>
    </div>
</div>