<div class="fixed-bottom-bar">
    <div class="osahan-home-page">
        <div class="osahan-menu-fotter fixed-bottom bg-white px-3 py-2 text-center">
            <div class="row">
                <div class="col">
                    <a routerLink="/create-update" routerLinkActive="active" class="text-dark small font-weight-bold text-decoration-none">
                        <p class="h4 m-0"><i class="feather-home text-dark"></i></p>
                        Home
                    </a>
                </div>
                <div class="col">
                    <a  routerLink="/get" routerLinkActive="active" class="text-dark small font-weight-bold text-decoration-none">
                        <p class="h4 m-0"><i class="feather-map-pin"></i></p>
                        get
                    </a>
                </div>
                <div class=" col bg-white rounded-circle mt-n4 px-3 py-2">
                    <div class="bg-danger rounded-circle shadow ">
                        <a routerLink="/view" routerLinkActive="active" data-dismiss="modal"  class="text-white small font-weight-bold text-decoration-none">
                            <i class="feather-printer"></i>
                            <!-- (click)="addToCart()" -->
                        </a>
                    </div>
                </div>
                <!-- <div class="col bg-white rounded-circle mt-n4 px-3 py-2">
                    <div class="bg-danger rounded-circle mt-n0 shadow">
                        <a href="checkout.html" class="text-white small font-weight-bold text-decoration-none">
                            <i class="feather-shopping-cart"></i>
                        </a>
                    </div>
                </div> -->
                <div class="col">
                    <a routerLink="/delete" routerLinkActive="active" class="text-dark small font-weight-bold text-decoration-none">
                        <p class="h4 m-0"><i class="feather-heart"></i></p>
                        delete
                    </a>
                </div>
                <div class="col selected">
                    <a routerLink="/Profiles" routerLinkActive="active" class="text-danger small font-weight-bold text-decoration-none">
                        <p class="h4 m-0"><i class="feather-user"></i></p>
                        Profile
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
